# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Coverage / test artefacts
coverage/
.nyc_output/

# Prisma generated client (kept in node_modules but be safe)
prisma/migrations/dev.db*

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
